body {
    font-family: Arial,Tahoma,sans-serif;
    font-size: 16px;
    background-color: #2A16D9;
    color: rgb(255,255,255);
}

h1 {
    font: 2rem Verdana,sans-serif;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    border: 1px solid yellow;
}
